.section-getStart {
    @include centered-container;
    background-color: hsl(217, 28%, 15%);
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}