body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #181f2a;
  color: white; }

ul > li {
  list-style: none; }

ul a {
  list-style: none;
  color: white;
  font-size: 16px;
  text-decoration: none; }

a {
  text-decoration: none;
  cursor: pointer; }

svg {
  cursor: pointer; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.masthead {
  margin-left: 20px;
  margin-right: 20px; }
  .masthead__siteheadings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px; }
    .masthead__siteheadings__logo {
      width: 30%; }
    .masthead__siteheadings--navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
  .masthead__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 130px; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 22px;
  margin-right: 22px; }
  .section__access {
    padding-bottom: 70px;
    line-height: 25px; }

.moreInfo {
  margin-left: 20px;
  margin-right: 20px;
  line-height: 25px;
  padding-bottom: 100px; }

.improvement {
  margin-left: 20px;
  margin-right: 20px; }
  .improvement__article {
    background-color: #202a3c;
    padding: 25px 25px;
    margin-bottom: 30px; }
  .improvement__article--user {
    display: flex;
    flex-direction: row; }
    .improvement__article--user--user-name {
      display: flex;
      flex-direction: column;
      padding-left: 20px; }
    .improvement__article--user-image {
      border-radius: 50%; }
